body {
    background-color: #0c0e12;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('background.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

.container {
    text-align: center;
    background-color: #1b1b24;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.logo {
    width: 250px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.alert {
    background-color: #5a5e73;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #fff;
}

.status {
    margin-top: 40px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}

.service {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.service-line {
    width: 100%;
    height: 1px;
    background-color: #3a3f51;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
}

.status-line {
    height: 1px;
    background-color: #555;
    flex-grow: 1;
    margin: 0 10px;
}

.status-indicator {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}

.operational {
    background-color: #4fc66b; 
}

.down {
    background-color: #e35563; 
}

.maintainance {
    background-color: #ffaf3f;
}

.divider {
    height: 1px;
    background-color: #3a3f51;
    margin: 10px 0;
}
