@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Default dark color scheme */
:root {
    --background: #1A1A2E;
    --surface: #2E2E4F;
    --text: #EAECEE;
    --muted: #707070;
    --accent: #F39C12;
    --green: #28B463;
    --red: #E74C3C;
    --yellow: #F1C40F;
}

/* Light mode color scheme */
.light {
    --background: #F5F5F5;
    --surface: #FFFFFF;
    --text: #333333;
    --muted: #757575;
    --accent: #FFC107;
    --green: #4CAF50;
    --red: #F44336;
    --yellow: #FFEB3B;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.style-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
}

.container {
    text-align: center;
    background-color: var(--surface);
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 150px;
    margin-bottom: 20px;
}

.alert {
    background-color: var(--accent);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    color: white;
    font-weight: 600;
}

.status {
    margin-top: 20px;
}

.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.service span {
    position: relative;
    cursor: default;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.service span[data-tooltip]:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.service span[data-tooltip]:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    background: var(--text);
    color: black;
    padding: 5px 10px;
    border-radius: 8px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-top: 5px;
}

.service span[data-tooltip]:hover::after {
    opacity: 1;
}

.status-line {
    height: 1px;
    background-color: var(--muted);
    flex-grow: 1;
    margin: 0 10px;
}

.status-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}

.status-indicator {
    font-weight: 600;
    min-width: 80px;
    /* Adjusted to fit the longest text */
    text-align: center;
    padding: 3px 8px;
    color: white;
    border-radius: 4px;
    background-color: var(--surface);
    /* Match the background */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.operationalind {
    background-color: var(--green);
}

.downind {
    background-color: var(--red);
}

.maintenanceind {
    background-color: var(--yellow);
}

.degradedind {
    background-color: var(--yellow);
}

.severe-outageind {
    background-color: var(--red);
}

.full-outageind {
    background-color: var(--red);
}


.divider {
    height: 1px;
    background-color: var(--muted);
    margin: 10px 0;
}

.maintenance {
    margin-top: 20px;
    background-color: var(--surface);
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    color: var(--text);
}

.maintenance h2 {
    margin-bottom: 20px;
}

.maintenance ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.maintenance ul li {
    background-color: var(--background);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.copyright {
    margin-top: 20px;
    font-size: 0.8rem;
    color: var(--muted);
    position: absolute;
    bottom: 20px;
    /* Position it at the bottom of the page */
    width: 100%;
    text-align: center;
}
